<div class="container">
    <div class="content">

        <div class="">
            タイム
            <div class="wrap-center">
                0:00:00
            </div>
        </div>
        <div class="">
            ラウンド
            <div class="wrap-center">
                1/5
            </div>
        </div>
        <div class="">
            ヒント表示まで
            <div class="wrap-center">
                5:00
            </div>
        </div>

        <button mat-raised-button color="primary" class="content-end">ヒント▼</button>

    </div>

    <img src="/assets/アユタカ.jpeg" class="street-map"/>

    <div class="content">
        <div>
            答え(ひらがな入力)
            <div>
                <form>
                    <mat-form-field appearance="fill">
                        <input matInput type="text">
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div>
            解答ミス: １回
            <div>
                hoge
            </div>
        </div>

        <div class="content-end">
            <button mat-raised-button color="primary" class="answer-btn">解答</button>
        </div>
    </div>
</div>