<div class="container">
  <div class="content">
    <div>
      <app-limit-time
        [time]="roundTimer.toDate() | date: 'mm:ss'"
      ></app-limit-time>
    </div>
    <div>
      <app-round [nowRound]="nowRound" [rounds]="rounds"></app-round>
    </div>
    <div class="hint-wrap">
      ヒント表示まで
      <div class="hint-timer">
        {{ hintTimer.toDate() | date: "mm:ss" }}
      </div>
    </div>

    <div>
      <app-primary-button
        [text]="'ヒント▼'"
        (onClick)="openHint()"
        [disabled]="hintButtonDisabled"
      ></app-primary-button>
    </div>
  </div>

  <div *ngIf="isVisibleHint">
    <p *ngFor="let hint of hints">・{{ hint }}</p>
  </div>

  <div id="streetMap" class="street-map"></div>

  <div class="content">
    <div>
      答え(ひらがな入力)
      <div>
        <mat-form-field appearance="fill">
          <input matInput type="text" [(ngModel)]="inputValue" />
        </mat-form-field>
      </div>
    </div>

    <div>
      解答ミス: {{ wrongAnswers.length }}回
      <div *ngFor="let wrongAnswers of wrongAnswers.reverse(); let i = index">
        <p *ngIf="i <= 2">{{ wrongAnswers }}</p>
      </div>
    </div>

    <div class="wrap-end">
      <app-primary-button
        (onClick)="answerEvent()"
        [text]="'解答'"
        [isWrong]="isWrong"
        [disabled]="inputValue === ''"
      >
      </app-primary-button>
    </div>
  </div>
</div>
