<div class="container">
    <div class="content">
            <app-difficulty-set class="margin-left"></app-difficulty-set>

            <app-primary-button [text]="explanationButtonText" class="explanation-button"></app-primary-button>
    </div>
    
    <p class="margin-left explanatory">選択された地域の世界遺産が計５問出題されます</p>

    <div class="menu-card-content">
        <div class="wrap" *ngFor="let card of cards">
            <button mat-button>
                <app-menu-card [card]=card></app-menu-card>
            </button>
        </div>
    </div>
</div>
