<div class="container">
    <div class="content">

        <div>
            <app-limit-time></app-limit-time>
        </div>
        <div>
            <app-round></app-round>
        </div>
    </div>

    <img src="/assets/アユタカマップ.png" class="map"/>

    <div class="content name-text">
        <div>
            {{heritage.name}}
            <div>
                (アユタカ歴史公園)
            </div>
        </div>
    </div>

    <div class="commentary-content">
        <div>
            <img src="/assets/アユタカ2.jpeg" class="answer-img"/>
        </div>

        <div>
            <div>
                <fieldset class="commentary">
                    <legend class="commentary-heading">解説</legend>
                    <p *ngFor="let commentary of heritage.Commentary">
                      ・{{commentary}}
                    </p>
                </fieldset>
            </div>

            <div class="wrap-end">
                <app-primary-button [text]="nextButtonText" class="next-button"></app-primary-button>
            </div>
        </div>
    </div>
</div>
