<div class="container">
    <div class="content">

        <div>
            <app-limit-time [difficulty]="difficulty" [time]="roundTimer.toDate()| date:'mm:ss'"></app-limit-time>
        </div>
        <div>
            <app-round></app-round>
        </div>
    </div>

    <div id="map" class="map"></div>

    <div class="name-text">
      <div>
        {{heritage.name}}
      </div>

    <div class="commentary-content">
        <div>
            <!-- <img src="/assets/アユタカ.jpeg" class="answer-img"/> -->
            <img [src]="profileUrl | async" class="answer-img"/>
        </div>

        <div>
            <div>
                <fieldset class="commentary">
                    <legend class="commentary-heading">解説</legend>
                    <p *ngFor="let commentary of heritage.commentary">
                      ・{{commentary}}
                    </p>
                </fieldset>
            </div>

            <div class="wrap-end">
                <a routerLink="/problem"><app-primary-button [text]="'次の問題へ'" class="next-button"></app-primary-button></a>
            </div>
        </div>
    </div>
</div>
