@use "~@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$teal-palette, A200);
$my-accent: mat.define-palette(mat.$grey-palette, 300);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.button-theme($my-theme);
@include mat.toolbar-theme($my-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
